
.pp-item{background:#0a0303;border:1px solid #1a0808;border-radius:5px;padding:5px 4px;text-align:center}
.pp-asset{background:#0a0303;border:1px solid #1a0808;border-radius:5px;padding:6px 8px;flex:1;text-align:center}
